body{
    background-color: #1B2530; /* Темно-синий фон */
    color: #FFF; /* Белый текст */
}

.title {
    color: #FFF; /* Белый текст */
}

.title-span {
    color: #4BCAFF; /* Цвет подчеркивания */
}

a{
    color: #FFF; /* Белый текст */
}

.header-menu{
    background-color: #293846; /* Темно-синий цвет меню */
}

.menu-item{
    color: #FFF; /* Белый текст */
}

.aside{
    border: 1px solid white; /* Белая рамка */
}

.aside-item{
    color: #FFF; /* Белый текст */
}

.img-holder{
    border: 1px solid #FFF; /* Белая рамка */
}

.nav-text1,
.nav-text2{
    color: #FFF; /* Белый текст */
}

.footer-item a{
    color: #FFF; /* Белый текст */
}

.menu-item:hover{
    background-color: #222F3A; /* Темно-синий при наведении */
}

.aside-item:hover{
    background-color: #DBDBDB; /* Серый при наведении */
}

.footer-item a:hover{
    color: #3181A6; /* Светло-синий при наведении */
    border-bottom: 1px solid #3181A6;
}