body{
    width: 1480px;
}

.title {
    display: inline-block;
    color: #000;
    font-family: Roboto;
    font-size: 80px;
    margin-top: 63px;
    margin-left: 98px;
}

.title-span {
    color: #4BCAFF;
    font-family: Roboto;
    font-size: 80px;
}

a{
    text-decoration: none;
}

.header{
    margin: 0 100px;
}

.header-menu{
    display: flex;
    background-color: #35444F;
    height: 70px;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.menu-list{
    display: grid;
    grid-template-columns: 330px 153px 284px 221px;
    justify-content: center;
}

.menu-list span{
    display: inline-block;
    height: 27px;
    margin-top: 24px;
}

.menu-item{
    display: inline-block;
    color: white;
    font-family: Roboto;
    font-size: 24px;
    border: 1.5px solid white;
    height: 70px;
    text-align: center;
    cursor: pointer;
}

.menu-item a{
    text-decoration: none;
    color: white;
}

.nav-img{
    display: grid;
    grid-template-columns: 344px 884px;
    column-gap: 52px;
    grid-template-rows: 530px 150px 120px;
    margin: 0 100px;
    margin-top: 50px;
}

.aside{
    display: flex;
    border: 1px solid black;
    width: 344px;
    height: 400px;
}

.aside-item{
    font-family: Roboto;
    font-size: 27px;
    height: 80px;
    width: 343px;
    cursor: pointer;
}

.aside-item span{
    display: inline-block;
    margin-top: 26px;
    margin-left: 44px;
}

.aside-item a{
    text-decoration: none;
    color: #485863;
}

.img-holder{
    display: flex;
    border: 1px solid #000;
    align-items: center;
    justify-content: center;
}

.nav-text1{
    grid-column-start: 2;
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    margin-top: 37px;
}

.nav-text2{
    grid-column-start: 2;
    color: #2C2C2C;
    font-family: Roboto;
    font-size: 18px;
    margin-top: 13px;
}

.footer{
    position: relative;
    margin: 30px 100px;
    height: 70px;
    background: rgba(99, 105, 110, 0.48);
    
}

.footer-list{
    display: flex;
    gap: 30px;
    padding-left: 40px;
}

.footer-item{
    display: inline-block;
    font-family: Roboto;
    font-size: 28px;
    height: 70px;
    cursor: pointer;
    vertical-align: middle;
}

.footer-item a{
    display: inline-block;
    text-decoration: none;
    color: #0C1927;
    padding-top: 20px;
    height: 40px;
}

.footer-item span{
    height: 28px;
    display: inline-block;
    
}

.footer-itemx{
    position: absolute;
    right: 40px;
    padding-top: 20px;
}

.menu-item:hover{
    background-color: #222F3A;
}

.aside-item:hover{
    background-color: #DBDBDB;
}

.footer-item a:hover{
    color: #3181A6;
    border-bottom: 1px solid #3181A6;
}